<% @page_title="Bookmarks List" %>

<%= render(:partial=>'layouts/user_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">
<div class="center"><span class="card-title">Bookmarks List</span></div>


	
	<%= grid(@bookmarks, show_filters: :when_filtered) do |g| 

			
			g.column name: 'Name' , attribute: 'school_name' do |bookmark|
			bookmark.school_name
			end

			g.column name: 'Date'  , attribute: 'created_at' do |bookmark|
			bookmark.created_at
			end

			g.column name: 'Action' do |bookmark|
			link_to("View", public_path(bookmark.school_user_id)) + " " +
			link_to("Delete", bookmark_path(bookmark.id),:method=>"delete") 
			end

end -%>



		


	</div>

	
	
</div>
</div>

</div>

</div>













