<% @page_title="Online Applications List" %>

<%= render(:partial=>'layouts/school_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">
<h5>Online Application List </h5>



		<%= grid(@onlineapplications, show_filters: :when_filtered) do |g| 

			g.column name: 'Name' , attribute: "name"  do |onlineapplication|
			onlineapplication.name
			end

			
			g.column name: 'Course' , attribute: "course"  do |onlineapplication|
			onlineapplication.course
			end

			g.column name: 'Submit Date'  , attribute: 'created_at' do |onlineapplication|
			onlineapplication.created_at
			end 

			g.column name: 'Status'  , attribute: 'status' do |onlineapplication|
			onlineapplication.status
			end 

			g.column name: 'Action' do |onlineapplication|
			link_to("Show",online_application_path(onlineapplication.id))
			end

end -%>


		


	</div>

	
	
</div>
</div>

</div>

</div>













