<% @page_title="User Profile Edit" %>

<%= render(:partial=>'layouts/user_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card center">
<div class="card-content">
<span class="card-title">User Profile Edit</span>

<div class="card-content">
	<%=form_for(@user,:class=>"col s12") do |f| %>
	<%= render(:partial=>'form', :locals=>{:f=>f}) %>

   	<%= f.submit("Edit Profile",:class=>"waves-effect waves-light btn teal lighten-2") %>
</div>
	<% end %>
</div><!-- card center-align white -->    
</div><!-- form-card -->

</div>


</div>
</div>
</div>





