<%@page_title="User Control Panel" %>



<%= render(:partial=>'layouts/user_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">
<div class="center"><span class="card-title">Newsfeed</span></div>

<br>
 <% @newsfeeds.each do |newsfeeds| %>

      <ul class="collapsible" data-collapsible="accordion">
      <li>
      <div class="collapsible-header active"><i class="material-icons teal-text text-lighten-2" >label</i><%= newsfeeds.title %></div>

      <div class="collapsible-body">
      <label>News: </label>
     
      <p><%= newsfeeds.details.html_safe %></p>



      </div>
      </li>
    
      </ul>


    
      

    

    <% end %>




	</div>

	
	
</div>
</div>

</div>

</div>


















	






