<% @page_title="User Register" %>

<div class="form-card">
<div class="card center-align white " >
<span class="card-title">Register User Account</span>

<div class="card-content">
	<%=form_for(@user,:class=>"col s12") do |f| %>
	<%= render(:partial=>'form', :locals=>{:f=>f}) %>

   	<%= f.submit("Register",:class=>"waves-effect waves-light btn grey darken-4") %>
   	<% end %>
</div>
	
</div><!-- card center-align white -->    
</div><!-- form-card -->





