<% @page_title="Areas List" %>

<%= render(:partial=>'layouts/admin_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">
<h5>Areas List </h5>
<p><%=link_to("Add Area",new_area_path) %></p>



	

	<%= grid(@areas, show_filters: :when_filtered) do |g| 

			g.column name: 'Area Name', attribute: 'areaname' do |area|
			area.areaname
			end

			g.column name: 'State' , assoc: :state ,attribute: 'state' do |area|
			area.state.state
			end

			g.column name: 'Action' do |area|
			link_to("Edit",edit_area_path(area.id))+ " " +
			link_to("Delete",delete_area_path(area.id))
			end

			

end -%>


		


	</div>

	
	
</div>
</div>

</div>

</div>













