<% @page_title="Attachments List" %>

<%= render(:partial=>'layouts/school_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">
<h5>Attachments List </h5>
<p><%=link_to("Add Attachments",new_school_attachment_path) %></p>


		<%= grid(@school_attachments, show_filters: :when_filtered) do |g| 

			
			g.column name: 'Picture'  do |school_attachment|
			image_tag(school_attachment.directory,:height=>"100px")
			end

			g.column name: 'Uploaded Date'  , attribute: 'created_at' do |school_attachment|
			school_attachment.created_at
			end 

			g.column name: 'Action' do |school_attachment|
			link_to("Show",school_attachment_path(school_attachment.id))+"<td>".html_safe+link_to("Edit", edit_school_attachment_path(school_attachment.id))+"</td>".html_safe+"<td>".html_safe+ link_to("Delete", delete_school_attachment_path(school_attachment.id))+"</td>".html_safe
			end

end -%>

	


		


	</div>

	
	
</div>
</div>

</div>

</div>













