<% @page_title="Feedbacks List" %>

<%= render(:partial=>'layouts/admin_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">
<h5>Feedbacks List </h5>



	<%= grid(@feedbacks, show_filters: :when_filtered) do |g| 

			
			g.column name: 'Name' , attribute: 'name' do |feedback|
			feedback.name
			end

			g.column name: 'Email'  , attribute: 'email' do |feedback|
			feedback.email
			end

			g.column name: 'Title' , attribute: 'title' do |feedback|
			feedback.title
			end

			g.column name: 'Action' do |feedback|
			link_to("Show",feedback_path(feedback.id))
			end

end -%>


		


	</div>

	
	
</div>
</div>

</div>

</div>













