<% @page_title="Course List" %>

<%= render(:partial=>'layouts/school_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">
<h5>Courses List </h5>
<p><%=link_to("Add Course",new_course_path) %></p>



			<%= grid(@courses, show_filters: :when_filtered) do |g| 

			
			g.column name: 'Name' , attribute: "name"  do |course|
			course.name
			end

			g.column name: 'Language'  , attribute: 'languagetype' do |course|
			course.languagetype
			end 

			g.column name: 'Action' do |course|
			link_to("Show",course_path(course.id))+"<td>".html_safe+link_to("Edit", edit_course_path(course.id))+"</td>".html_safe+"<td>".html_safe+ link_to("Delete", delete_course_path(course.id))+"</td>".html_safe
			end

end -%>



		


	</div>

	
	
</div>
</div>

</div>

</div>













