<% @page_title="Certificates List" %>

<%= render(:partial=>'layouts/school_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">

<div class="center"><span class="card-title">Certificates List</span></div>

<p><%=link_to("Add Certificate",new_certificate_path) %></p>



		<%= grid(@certificates, show_filters: :when_filtered) do |g| 

			
			g.column name: 'Title' , attribute: "title"  do |certificate|
			certificate.title
			end

			g.column name: 'Uploaded Date'  , attribute: 'created_at' do |certificate|
			certificate.created_at
			end 

			g.column name: 'Action' do |certificate|
			link_to("Show",certificate_path(certificate.id))+"<td>".html_safe+link_to("Edit", edit_certificate_path(certificate.id))+"</td>".html_safe+"<td>".html_safe+ link_to("Delete", delete_certificate_path(certificate.id))+"</td>".html_safe
			end

end -%>


		


	</div>

	
	
</div>
</div>

</div>

</div>













