<% @page_title="School Edit Profile" %>


<%= render(:partial=>'layouts/school_navigation') %>



<div class="col s12 m9 l9">

<div class="card center-align white " >
<span class="card-title">Register Your School</span>

<div class="card-content">
	<%=form_for(@school_user,:class=>"col s12") do |f| %>
	<%= render(:partial=>'form', :locals=>{:f=>f}) %>


	<%= f.submit("Update Profile",:class=>"waves-effect waves-light btn teal lighten-2") %>

	<% end %>
</div>	



   	
</div><!-- card center-align white -->    
</div><!-- form-card -->


</div>
</div>
</div>





