<div class="container">

<main>
  <div class="form-card">

  <div class="card center-align white z-depth-4" >

  <span class="card-title">Register Your School</span>

  <div class="card-content">



    <div class="row">

    <form class="col s12">

      <div class="row">
        
        <div class="input-field col s12 m6">
          <input id="schoolname" type="text" class="validate">
          <label for="schoolname">School's Name</label>
        </div>
      

       <div class="input-field col s12 m6">
          <input id="phonenumber" type="text" class="validate">
          <label for="phonenumber">Phone Number</label>
        </div>
      </div>

      </div>

    

            <div class="row">
        
        <div class="input-field col s12 m6">
          <input id="password1" type="password" class="validate">
          <label for="password1">Password</label>
        </div>
      

        <div class="input-field col s12 m6">
          <input id="password2" type="password" class="validate">
          <label for="password2">Repeat Your Password</label>
        </div>
      </div>


      <div class="row">
        
        <div class="input-field col s12 m6">
          <input id="email" type="email" class="validate">
          <label for="email">E-Mail</label>
        </div>
      

        <div class="input-field col s12 m6">
          <input id="website" type="text" class="validate">
          <label for="website">Website</label>
        </div>
      </div>


      <div class="row">
        
        <div class="input-field col s12">
         <textarea id="address" class="materialize-textarea"></textarea>
          <label for="address">Address</label>
        </div>
      

        
      </div>


      <div class="row">
        
        <div class="input-field col s12">
         <textarea id="transportation" class="materialize-textarea"></textarea>
          <label for="transportation">Transportation</label>
        </div>
      

        
      </div>


      <div class="row">
        
      <div class="file-field input-field s12" >
      <div class="waves-effect waves-light btn grey darken-4">
        <span>Upload School Picture</span>
        <input type="file" >
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validater" type="text" placeholder="Upload School's Picture">
      </div>
    </div>
      

        
      </div>


      



     

   
  



    


  </div>

  <div class="card-action">
            <a class="waves-effect waves-light btn grey darken-4" >Register<i class="material-icons right">done</i></a>
  </div>

  </form>


  </div><!-- card center-align white -->    

  </div><!-- form-card -->
  
</main>

  

  </div><!-- container -->

  