@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
	
	color: black;
  /*font-family: 'Roboto Condensed', sans-serif;*/

  /* footer setting*/ 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  /* footer setting*/ 
  flex: 1 0 auto;
}



nav ul li a{
  color: black;
}    



.form-card {
	
  

}

.error-message {
  color: red;
}

.dropdown-content li a{
    color: black;
}

.page-footer li a{
    color: white;
}

.tabs .indicator {
    background-color:black !important; 
}

.tabs li a {
    color:black !important; 
}

ul.dropdown-content.select-dropdown li span {
    color: black; /* no need for !important :) */
}

