@import "materialize";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html.turbolinks-progress-bar::before {
  background-color: #212121 !important;
  height: 5px !important;
}




body {

	background-color: #fafafa;
	color: black;
  font-family: 'Roboto Condensed', sans-serif;

  /* footer setting*/ 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  /* footer setting*/ 
  flex: 1 0 auto;
}



nav ul li a{
  color: black;
}    


.form-card {
	margin-top:5%;
}



