<% @page_title="Promotion List" %>

<%= render(:partial=>'layouts/school_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">

<div class="center"><span class="card-title">Promotions List</span></div>
<p><%=link_to("Add Promotion",new_promotion_path) %></p>



<%= grid(@promotions, show_filters: :when_filtered) do |g| 

			
			g.column name: 'Name' , attribute: "name"  do |promotion|
			promotion.name
			end

			g.column name: 'Start'  , attribute: 'start' do |promotion|
			promotion.start.strftime("%d %B %Y")
			end 

			g.column name: 'End'  , attribute: 'end' do |promotion|
			promotion.end.strftime("%d %B %Y")
			end 

			g.column name: 'Action' do |promotion|
			link_to("Show",promotion_path(promotion.id))+"<td>".html_safe+link_to("Edit", edit_promotion_path(promotion.id))+"</td>".html_safe+"<td>".html_safe+ link_to("Delete", delete_promotion_path(promotion.id))+"</td>".html_safe
			end

end -%>


		


	</div>

	
	
</div>
</div>

</div>

</div>













