<% @page_title="Inquiries List" %>

<%= render(:partial=>'layouts/school_navigation') %>


<div class="col s12 m9 l9">
<!-- Teal page content  -->
<div class="card">
<div class="card-content">

<div class="center"><span class="card-title">Inquiries List</span></div>




			<%= grid(@inquiries, show_filters: :when_filtered) do |g| 

			
			g.column name: 'Title' , attribute: "title"  do |inquiry|
			inquiry.title
			end

			g.column name: 'Course' , attribute: "course"  do |inquiry|
			inquiry.course
			end

			g.column name: 'Submit Date'  , attribute: 'created_at' do |inquiry|
			inquiry.created_at
			end

			g.column name: 'Status'  , attribute: 'status' do |inquiry|
				if inquiry.status==1
					"<span style='color:green'>".html_safe + "Reviewed" + "</span>".html_safe 
				else

					"<span style='color:red'>".html_safe + "Haven't Reviewed Yet" + "</span>".html_safe 
				end
			
			end  

			g.column name: 'Action' do |inquiry|
			link_to("Show",inquiry_path(inquiry.id))
			end

end -%>



		


	</div>

	
	
</div>
</div>

</div>

</div>













