<% if object && object.errors.size>0 %>



<div class="error-message">
	

		<p><%= pluralize(object.errors.size,"error") %> prohibited this record from being saved</p>

		<p>There were problems with this following fields:</p>

		
			<% object.errors.full_messages.each do |msg| %>

				<p><%= msg %></p>
				

				<% end %>

</div>		
		

	

	<% end %>

