<div class="form-card">
<div class="card center-align white " >
<span class="card-title">Results</span>

<div class="card-content">
<%= grid(@results_grid, show_filters: :when_filtered) do |g| 

			g.column name: '' do |result|
			"<i class='material-icons teal-text text-lighten-2'>school</i>".html_safe
			end

			g.column name: 'School Name' , attribute: 'name' do |result|
			result.name
			end

			g.column name: 'Area'  , attribute: 'city' do |result|
			result.city
			end

			g.column name: 'Rating' do |result|
			end

			g.column name: 'Action' do |result|
			link_to("Show",public_path(result.id))
			end

end -%>
	 


</div>
</div><!-- card center-align white -->    
</div><!-- form-card -->




