


<div class="form-card">
<div class="card center-align white " >
<span class="card-title">Results</span>




<div class="card-content">

<table class="responsive-table">
		<thead>
			<tr>
			<td>School Name</td>
			<td>Area</td>
			<td>Action</td>
			</tr>
		</thead>

		<tbody>
	
		<% @results.each do |results| %>
			<tr>
			<td><%= results.name %></td>
			<td><%= results.city %>, <%= results.state %></td>
			<td><%= link_to("Show",public_path(results.id)) %></td>
			</tr>


		<% end %>


		</tbody>

	</table>
	 


</div>
</div><!-- card center-align white -->    
</div><!-- form-card -->




