<div class="form-card">
<div class="card center-align white " >
<span class="card-title">Results</span>

<div class="card-content">

<p><%= @results.count%> <%=@languagetype %> Language Schools in <%=@area %></p>

<%= grid(@results_grid) do |g| 

			g.column name: '' do |result|
			"<i class='material-icons teal-text text-lighten-2'>school</i>".html_safe
			end

			g.column name: 'School Name' , attribute: 'name' do |result|
			result.name
			end

			

			g.column name: 'Rating' do |result|

			"<div class='chip'><i class='material-icons teal-text text-lighten-2 left'>star_rate</i>".html_safe+number_with_precision(@ratings=Rating.where(:school_user_id=>result.id).average(:marks), :precision => 1)+"</div>".html_safe
			end

			g.column name: 'Compare' do |result|
				if session[:compare]!=nil
				if session[:compare].include?(result.id)
				"<div class='chip'><i class='material-icons teal-text text-lighten-2 left'>&#xE3B9;</i>".html_safe+link_to("Compare",compare_new_path(:school_user_id=>result.id))+"</div>".html_safe
					
				else
				"<div class='chip'>
				<i class='material-icons teal-text text-lighten-2 left'>&#xE3B9;</i>
				Compared
				</div>".html_safe

				end

				else
				"<div class='chip'><i class='material-icons teal-text text-lighten-2 left'>&#xE3B9;</i>".html_safe+link_to("Compare",compare_new_path(:school_user_id=>result.id))+"</div>".html_safe
					
					
				end


			end


			g.column name: 'Action' do |result|
			link_to("Show",public_path(result.id))
			end

end -%>
	 


</div>
</div><!-- card center-align white -->    
</div><!-- form-card -->




